.main {
   display: flex;
   flex-direction: column;
  }

.customBorder {
   border-top: 1px solid #000 !important;
}
.linkHover:hover {
   background-color: #D0D5DD;
   transition: ease-in 0.2s;
}

@media  (max-width: 768px) {
   .footerStyle {
      flex-direction: row !important;
      gap: 24px !important;
   }
   .footerStyle2 {
      flex-wrap: wrap !important;
      gap: 24px !important;
   }
   .linkPadding {
      padding: unset !important;
   }
   .socialsecBottom {
      margin-bottom: 24px;
   }
   
}
@media (max-width: 1345px) {
   .footerStyle {
      flex-direction: row;
   }
   .footerStyle2 {
      flex-wrap: wrap;
      gap: 70px;
   }
   .linkPadding {
      padding: unset !important;
   }
   .socialsecBottom {
      margin-bottom: 24px;
   }
}
